     .fontAdjust__fontSize {
              background-color: #cedada;
              align-self: center;
              padding: 8px;
              border-radius: 5px;
              font-size: 0.7rem;
              margin: 0;
          }

          .fontAdjust_container {
              display: flex;
              justify-content: space-between;
          }
